.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)), 
        url(../img/hero.jpg); /* leftmost goes on top */
    background-size: cover; /* "cover" always max out the width of the viewport */
    background-position: top; /* "top" ensures that the top of the image always shows */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /* direction clockwise starting from top left corner */
    position: relative;

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
    }
}